# Study guide: Expressions and variables

## Explicit conversion

In [1]:
# str()
# int()
# float()

# COPILOT:

# str() - converts any data type into a string
# int() - converts any data type into a integer
# float() - converts any data type into a float

# Example
x = 10
y = 10.1
z = "10"

# print(x)
# print(y)
# print(z)

# print(type(x))
# print(type(y))
# print(type(z))

# convert x into a string
x = str(x)
# convert y into a string
y = str(y)
# convert z into a string
z = str(z)

# print(x)
# print(y)
# print(z)

# print(type(x))
# print(type(y))
# print(type(z))

# convert x into a float
x = float(x)
# convert y into a float
y = float(y)
# convert z into a float
z = float(z)

# print(x)
# print(y)
# print(z)

# print(type(x))
# print(type(y))
# print(type(z))

# convert x into a integer
x = int(x)
# convert y into a integer
y = int(y)
# convert z into a integer
z = int(z)

# print(x)
# print(y)
# print(z)

# print(type(x))
# print(type(y))
# print(type(z))

# Example
# a = "10"
# b = "20"
# c = a + b
# print(c)

# a = "10"
# b = "20"
# a = int(a)
# b = int(b)
# c = a + b
# print(c)

## Variables Annotated by Type

In [2]:
import typing
# Define a variable of type str
z: str = "Hello, world!"
# Define a variable of type int
x: int = 10
# Define a variable of type float
y: float = 1.23
# Define a variable of type list
list_of_numbers: typing.List[int] = [1, 2, 3]
# Define a variable of type tuple
tuple_of_numbers: typing.Tuple[int, int, int] = (1, 2, 3)
# Define a variable of type dict
dictionary: typing.Dict[str, int] = {"key1": 1, "key2": 2}
# Define a variable of type set
set_of_numbers: typing.Set[int] = {1, 2, 3}

## Coding skills

### Skill Group 1
* Use variables to store values
* Use basic arithmetic operators with variables to create expressions
* Use explicit conversion to change a data type from float to string

In [3]:
# The following lines assign the variable to the left of the = 
# assignment operator with the values and arithmetic expressions 
# on the right side of the = assignment operator.
hotel_room = 100
tax = hotel_room * 0.08
total = hotel_room + tax
room_guests = 4
share_per_person = total/room_guests


# This line outputs the result of the final calculation stored
# in the variable "share_per_person"
print("Each person needs to pay: " + str(share_per_person)) # change a data type

Each person needs to pay: 27.0

### Skill Group 2
* Output multiple string variables on a single line to form a sentence
* Use the plus (+) connector or a comma to connect strings in a print() function
* Create spaces between variables in  a print() function

In [4]:
# The following 5 lines assign strings to a list of variables.
salutation = "Dr."
first_name = "Prisha"
middle_name = "Jai"
last_name = "Agarwal"
suffix = "Ph.D."
 
print(salutation + " " + first_name + " " + middle_name + " " + last_name + ", " + suffix) 
# The comma as a string ", " adds the conventional use of a comma plus a 
# space to separate the last name from the suffix.
 
# Alternatively, you could use commas in place of the + connector:
print(salutation, first_name, middle_name, last_name,",", suffix)
# However, you will find that this produces a space before a comma within a string.

Dr. Prisha Jai Agarwal, Ph.D.
Dr. Prisha Jai Agarwal , Ph.D.

### Skill Group 3
* Resolve TypeError caused by a data type mismatch issue
* Use an explicit conversion function

In [5]:
# The following code causes a type error between a string 
# and an integer:

print("5 * 3 = " + (5*3)) 


# Resolution: 
# print("5 * 3 = " + str(5*3))
#
# To avoid a type error between the string and the integer within the
# print() function, you can make an explicit data type conversion by
# using the str() function to convert the integer to a string.

TypeError: can only concatenate str (not "int") to str

## Skill Group 4
* Resolve a ZeroDivisionError caused by an attempt to divide by 0

In [ ]:
numerator = 7
denominator = 0   # Possible resolution: Change the denominator value 
result = numerator / denominator
print(result)


# One possible assumption for a number divided by zero error might
# include the issue of a null value as a denominator (could happen when
# using a loop to iterate over values in a database). In such cases, the
# desired outcome may be to leave the numerator value intact. The
# numerator value can be preserved by reassigning the denominator with 
# the integer value of 1. The result would then equal the numerator.

Solution:

In [7]:
numerator = 7
denominator = 1   # Possible resolution: Change the denominator value 
result = numerator / denominator
print(result)

7.0